/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
!/laradock
!/Modules
!modules_statuses.json
/laradock/logs
composer.lock
/laradock/logs/nginx/error.log
package-lock.json

