.gem-carousel-foreimage {
    z-index: 1100 !important;
    position: absolute;
    top: 10;
    right: 0;
    animation: carouseltopbottom ease 5s alternate infinite;
    animation-delay: 2s;
}

@keyframes carouseltopbottom {
        0% {
            top:0;
            right:0;
        }
        25% {
            top:20px;
        }      
        50% {
            top:50px;
        }
        75% {
            top:75px;
        }
        100% {
            top:100px;
        }

}

.gem-card-deck-shadow {
    box-shadow: 2px 2px 2px 2px #709fb0; 
}
.gem-card-deck-shadow:hover {
    box-shadow: 4px 4px 4px 4px #92e4c2;   
}

.gem-card-deck-item {
    transition: width 3s , height 3s;
}

.gem-card-deck-item:hover {
    width:101%;
    height:101%;
}

.gem-card-group-shadow {
    box-shadow: 1px 1px 1px 1px #3e978b;
}

.gem-card-group-shadow:hover {
    box-shadow: 2px 2px 2px 2px #2ec1ac;
}

.gem-card-tab-shadow {
    box-shadow: 2px 2px 2px 2px #44eb76;
}

.gem-card-tab-shadow:hover {
    box-shadow: 3px 3px 3px 3px #2aeb63;
}

.gem-footer-foreground-color-1 { // for bg-info 
    color: #354145;
}
.gem-footer-foreground-color-2 { // for bg-info 
    color: #24200A;
}

.gem-front-body-bg-color {
    background-color: aliceblue;
}

.gem-front-avatar {
        vertical-align: middle;
        width: 10em;
        height: 10em;
        border-radius: 50%;    
        display: inline-block;
        position: relative;
        -webkit-transition: .2s ease;
         transition: .2s ease;  
}
.gem-front-avatar:hover {
    border: 1px solid #3e978b;
    box-shadow: 2px 2px 2px 2px #2ec1ac;
   // margin-left: -10px;
   width:15em;
   height:15em;
    
}
/*
.gem-front-avatar:hover + .gem-front-avatar-pop {
    display:inline-block;
    position:relative;
    top:-8.4em;
    left:-9.8em;
    border:1px solid #2ec1ac;
    padding:0.2em;
    margin:0.1em;
    border-radius: 0.3em;
    background-color: #24200A; 
    color:#ffffff;
    box-shadow: 1px 1px 1px #2ec1ac;
}

.gem-front-avatar-pop {
display:none;  
}
*/
// .gem-front-avatar:nth-child(1) { background: blue; }

.gem-front-avatar:nth-child(n+2) { margin-left: -50px; }
.gem-front-avatar:nth-child(n+1) .gem-front-avatar-pop { display:block;}

.gem-avatar:hover .gem-front-avatar:nth-child(n+2) {
   margin-left: -5px;
}