.gem-carousel-foreimage {
    z-index: 1100 !important;
    position: absolute;
    top: 10;
    right: 0;
    animation: carouseltopbottom ease 5s alternate infinite;
    animation-delay: 2s;
}

@keyframes carouseltopbottom {
        0% {
            top:0;
            right:0;
        }
        25% {
            top:20px;
        }      
        50% {
            top:50px;
        }
        75% {
            top:75px;
        }
        100% {
            top:100px;
        }

}

.gem-card-deck-shadow {
    box-shadow: 2px 2px 2px 2px #709fb0; 
}
.gem-card-deck-shadow:hover {
    box-shadow: 4px 4px 4px 4px #92e4c2;    
}

.gem-card-group-shadow {
    box-shadow: 1px 1px 1px 1px #3e978b;
}

.gem-card-group-shadow:hover {
    box-shadow: 2px 2px 2px 2px #2ec1ac;
}

.gem-card-tab-shadow {
    box-shadow: 2px 2px 2px 2px #44eb76;
}

.gem-card-tab-shadow:hover {
    box-shadow: 3px 3px 3px 3px #2aeb63;
}

.gem-footer-foreground-color-1 { // for bg-info 
    color: #354145;
}
.gem-footer-foreground-color-2 { // for bg-info 
    color: #24200A;
}
